<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hoppy Bunny.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16A9D9AD1F0C123600D6C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A9D9C71F0C123600D6C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A9D9D21F0C123600D6C6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
